{% extends 'base.html' %}

{% load staticfiles %}

{% block externalLinks %}

{% endblock %}

{% block mainContent %}

<div class="row mt-5">
    <div class="col-xl-12 mb-5 mb-xl-0">
        <div class="card bg-gradient-default shadow" style="display: inline-block; width: -webkit-fill-available;">
            <div class="card-body">
                <h1 class="text-light">The page you're looking for does not exist</h1>
            </div>
            <!-- <div class="card-head" style="padding: 1%">
                <div class="col-xl-6" style="display: inline-block; float: left;">
                    <h3 class="text-light">{{ wbs.cc.id }}</h3>
                    <h1 class="text-light">{{ wbs.cc.name }}</h1>
                </div>
                <div class="col-xl-4" style="display: inline-block; float: left;">
                    <h3 class="text-light">CURRENT BUDGET</h3>
                    <h1 class="text-light">${{ wbs.amount }}</h1>
                </div>

            </div> -->
            <!-- <div class="card-body" style="clear:both;">
                <div class="row h-100 text-light">
                    Type of Transfer Proposed: {{ transfer }}
                </div>
            </div> -->
        </div>
    </div>
</div>

{% endblock %}
